


/* VARIABLES DECLARATION */

/* COLORS */
$button-color: #fed136;
$headers-color: #222222;
$paragraph-color: #777777;

/* FONTS */

$main-font: 'Montserrat', sans-serif;
$sub-font: 'Roboto Slab', serif;

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $main-font;
    font-size: 16px;
}
.wrapper {
    background-color: red;
}
.container {
    max-width: 940px;
    background-color: white;
    
}
header {
    height: 700px;
  

}

nav {
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    background: transparent;
 }
 
 ul {
     width: 55%;
     display: flex;
     justify-content: space-around;
     list-style: none;
 }
 
 nav ul li {
     font-size: 1rem;
 
 }
 a {
     text-decoration: none;
     font-size: 1.7rem;
     font-weight: bold;
     color: var(--gold);
     padding: .2em;
     position: relative;
     letter-spacing: 2px;
 }
 
 a::after {
     content: '';
     position: absolute;
     bottom: 0px;
     left: 0px;
     width: 0%;
     background-color: var(--gold);
     height: .15em;
     border-radius: 10px;
     transition: 0.3s ease-in-out;
 }
 
 a:hover::after {
     width: 100%;
 }
 
 /*  Burger Styling */
 .burger {
     background: transparent;
     border: none;
     outline: none;
     cursor: pointer;
     display: none;
 
 }
 
 .line {
     width: 3em;
     height: .3em;
     background: var(--gold);
     margin: .7em;
     border-radius: 20px;
     transition: .3s ease-in-out;
     
 }
 
 /* Media Queries */
 
 @media only screen and (max-width: 1000px) {
     ul {
 
         width: 100%;
     }
     
     .logo {
         height: 4.5em;
         
     }
     
     .burger {
         display: block;
         transition: .3s ease-in-out;   
     }
 
     .burger.active .line:first-child {
         transform: translateY(-300px);
     }
 
     .burger.active .line:nth-child(2){
         transform: rotate(-405deg) translateY(8px);
     }
 
     .burger.active .line:nth-child(3){
         transform: rotate(-320deg) translateY(-10px);
     }
 
     ul {
         position: absolute;
         right: 0;
         top: 10vh;
         background-color: whitesmoke;
         height: 90vh;
         flex-direction: column;
         text-align: center;
         transform: translate(100%); 
         transition: .3s ease-in-out;
     }
 
     ul.active {
         transform: translate(0%); 
 
     }
 
     a {
         font-size: 2.5rem;
         letter-spacing: 2px;
     }
 
 }
 
 @media only screen and (max-width: 760px) {
     ul {
         width: 100%;
     }
 }


