


/* VARIABLES DECLARATION */

/* COLORS */
$yellow-color: #fed136;
$dark-color: #222222;
$light-dark-color: #777777;
$white-color: #ffffff;

/* FONTS */

$main-font: 'Montserrat', sans-serif;
$sub-font: 'Roboto Slab', serif;

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {

    text-decoration: none;
}


/* RESET */

body {
    font-family: $main-font;
    font-size: 16px;
    color: $dark-color;
}
/* GLOBAL */

section {
    padding: 120px 0;
}
h2 {
    text-align: center;
    font-family: $main-font;
    font-size: 2.5rem;
    color: $dark-color;
    padding-bottom: 20px;
}

h3 {
    font-style: italic;
    font-size: 2.5rem;
    color: $white-color;
}
/* STYLING */

/* HELLO SECTION + NAVIGATION */
.wrapper {
    position:relative;
    height: 100vh; /* ask about height 700px */
    overflow: hidden;
   
}
.background {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index:-1;  
}
.container {
    max-width: 940px;
}
.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

header h3 {

    letter-spacing: -3px;

}
span.header-title {
    display: block;
    font-size: 4.7rem;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 60px;
    text-transform: capitalize;
    color: $white-color;
}
.header a {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 65px;
    background-color: $yellow-color;
    transition: all .5s ease-in-out;
}
.header a:hover {
    background-color: $white-color;
    color: $yellow-color;
    transition: .5s all ease-in-out;
}
.header a:hover .btn-text {
    color: $yellow-color;
}
.header .btn-text {
    text-decoration: none;
    font-family: $main-font;
    font-size: 1.2rem;
    color: $white-color;
    font-weight: bold;
    transition: .5s all ease-in-out;
}

.navbar ul {
    margin-top: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    background-color: transparent;
    color: white;

}

.navbar li {
    list-style: none;
    padding: 1rem;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar-logo {
    flex: 1;
    font-size: 1.5rem;
    user-select: none;
    color: $yellow-color;
    font-size: $main-font;
}
.navbar-toggle {
    display:none;
}

.navbar-links a {

    transition: 0.5 all ease;

}

.navbar-links:hover a {

    color: $yellow-color;

}
    @media (max-width: 600px) {
            .navbar ul {

                flex-wrap: wrap;
            }
            .navbar-toggle {
                display: block;
            }
            .navbar-links {
               display: none;
                width: 100%;
                text-align: center;
            }

            .active {
            display: block;
            }

            .wrapper {

                max-height: 500px;
            }
            header a {
                display: none !important;
            }
            header h3, span.header-title {
                display: none;
            }
            section {
                margin: 0px;
                padding: 30px 0;
            }
            .row {
                flex-wrap: wrap;
            }
    }
        @media (min-width:601px) and (max-width:1000px) {
            body {

                font-size: 1rem;
                
            }
            h3 {
                font-size: 3vh;
                letter-spacing: 0;
            }
            span.header-title {

                font-size: 5vh;
            }
            .wrapper {
                max-height: 500px;
            }
            .row {
                flex-wrap: wrap;
            }
        }

 /* SERVICE SECTION */

 p.service-description { 
    width: 100%;
    font-family: $sub-font;
    font-size: 1rem;
    font-weight: italic;
    text-align: center;
    color: $light-dark-color;
    padding-bottom: 80px;
}
 
 
 .col-md-4 h4 {
    font-family: $main-font;
    font-size: 1.1rem;
    text-align: center;
    padding: 25px 0;
 }
 .icon-bgc {
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border: 3px solid $yellow-color;
    border-radius: 50%;
  }
 .col-md-4 i {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    color: $yellow-color;
 }

 .col-md-4 p {
    line-height: 2.5vh;
  }
/* OUR PORTFOLIO SECTION */
.portfolio {
    
    background-color: #f7f7f7;
}
.row {
    flex-wrap: no-wrap;
    padding: 25px 0;

}
.portfolio h4 {
    padding-top: 25px;
    padding-bottom: 0;

}
.portfolio .col-md-4 {
    padding: 0px;
    margin: 0 15px;
    max-width: 300px;
    background-color: white;
    
}
.portfolio img {
    width: 100%;
    height:300px;
    object-fit: cover;
}
.portfolio p {
    margin: 0;
    padding-top: 0;
    padding-bottom:30px !important;
    text-align: center; 
}
 
/* FOOTER */

footer {

    height: 120px;
    padding: 40px;
    background-color: white;
}


.social-media-icon {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 5px;  
    background-color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;

}

.social-media-icon i {
    color: white;
    font-size:1rem; 
}
footer .row {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
footer h5 {
    text-align: left;
    font-size:0.9;
    font-weight: normal;
}

/* Media Queries */


